/* * {
    background-color: cyan;
}*/
body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,
h2 {
    color: #1d3557;
}

/* ID 선택자 */
#signup {
    background-color: #1d3557;
    color: #f1face;
}

span {
    color: #457b9d;
}

/* 클래스 선택자 */
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/* post클래스에 속한 a태그만 적용 */
.post a {
    color: #a8dadc;
}

footer a {
    color: red;
}